/* RESET DAS CONFIGURAÇÕES DO NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONFIGURAÇÕES GERAIS */
body {
    background-image: url(assts/imagem\ de\ fundo.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.logo {
    width: 200px;
    height: auto;
    margin: 20px;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

p {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}
button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 8px;
    background-color: #28A745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


a {
    display: block;
    width: 100px;
    margin: 5px auto;
    padding: 8px;
    background-color: #007bff;
    color: white;
    /* text-align: center; */
    text-decoration: none;
    border-radius: 5px;
}


/* 
button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #28A745;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}  */

li {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
    margin-top: 20px;
}