* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(32, 10, 158);
    color: rgb(7, 98, 218);
    background-image: url(assets/fundo.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 70px;
    margin: 15px;
}

